Repository ChainYo/chatbot_brief_simplon, pull requests merged in 2021-04, with the labels that each got.

#19 Add files via upload
  contents.json
Labels: corpus

#20 Closes #10
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/assets/style.css
  frontend/src/components/ChatWindow.vue
  frontend/src/components/Credits.vue
  frontend/src/components/Header.vue
  frontend/src/components/MessageLayout.vue
  frontend/src/main.js
  frontend/src/pages/ChatBot.vue
  frontend/src/router/index.js
  frontend/src/views/About.vue
  frontend/src/views/Home.vue
Labels: Interface

#23 Closes #11
  frontend/src/components/ChatWindow.vue
Labels: Interface

#25 Closes #9
  Luigi/__pycache__/traitment_corpus.cpython-38.pyc
  Luigi/bot.py
  Luigi/model/chatbot_model.h5
  Luigi/model/test/chatbot_model.h5
  Luigi/ressources/intents/intents.json
  Luigi/ressources/intents/intents1.json
  Luigi/ressources/obj/classes.pkl
  Luigi/ressources/obj/documents.pkl
  Luigi/ressources/obj/test/classes.pkl
  Luigi/ressources/obj/test/documents.pkl
  Luigi/ressources/obj/test/words.pkl
  Luigi/ressources/obj/words.pkl
  Luigi/train_model.py
  Luigi/traitment_corpus.py
  logos/desktop.ini
Labels: model

#26 Correction fonction envoi message
  frontend/src/App.vue
  frontend/src/components/ChatWindow.vue
  frontend/src/components/MessageLayout.vue
Labels: Interface

#31 API_Dockerize
  API_on_ Docker/Dockerfile
  API_on_ Docker/main.py
  API_on_ Docker/query.py
  API_on_ Docker/requirements.txt
Labels: api

#28 Luigi
  Luigi/__pycache__/traitment_corpus.cpython-38.pyc
  Luigi/bot.py
  Luigi/model/chatbot_model.h5
  Luigi/model/tfjsmodel/group1-shard1of1.bin
  Luigi/model/tfjsmodel/model.json
  Luigi/train_model.py
  Luigi/traitment_corpus.py
Labels: model

#34 Nettoyage du code model
  Luigi/__pycache__/traitment_corpus.cpython-38.pyc
  Luigi/bot.py
  Luigi/model/chatbot_model.h5
  Luigi/model/test/chatbot_model.h5
  Luigi/model/test/tfjsmodel/group1-shard1of1.bin
  Luigi/model/test/tfjsmodel/model.json
  Luigi/model/tfjsmodel/group1-shard1of1.bin
  Luigi/model/tfjsmodel/model.json
  Luigi/ressources/intents/intents.json
  Luigi/ressources/obj/documents.pkl
  Luigi/ressources/obj/test/classes.pkl
  Luigi/ressources/obj/test/documents.pkl
  Luigi/ressources/obj/test/words.pkl
  Luigi/ressources/obj/words.pkl
  Luigi/train_model.py
  Luigi/traitment_corpus.py
Labels: model
